.accessory-details-camera {
    .accessory-details-scroll-wrapper {
        padding: 1rem;
    }

    .accessory-details-footer {
        margin-bottom: -1rem;
        padding-bottom: 1rem;
    }

    .service-wrapper {
        margin: 0;
    }
}
