.accessory-details-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: $modal-z-index;

    &.v-enter-active {
        animation: accessory-details-in 0.1s ease-in;
    }

    &.v-leave-active {
        animation: accessory-details-out 0.1s ease-out;
    }
}

.accessory-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .accessory-details-scroll-wrapper {
        padding: 2em;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    background-color: transparentize($gray-800, 0.2);

    @media (prefers-reduced-transparency: reduce) {
        background-color: $gray-800;
    }

    @supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
        background-color: transparentize($gray-800, 0.5);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);

        @media (prefers-reduced-transparency: reduce) {
            background-color: $gray-800;
        }
    }

    color: $white;

    .accessory-details-container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;

        text-align: center;

        &::before,
        &::after {
            content: '';
            flex: 1 0 auto;
        }

        .accessory-details-icon,
        .icon {
            height: 30px;
        }

        .accessory-details-icon {
            margin-bottom: 1em;
        }

        svg.icon {
            fill: #ffffff;
        }

        img.icon {
            filter: brightness(0) invert(100%);
        }
    }

    &.unsupported-service,
    &.unavailable-accessory {
        .status {
            color: $red;
            font-weight: 600;
        }
    }

    .accessory-details-footer {
        flex: 0 0 auto;
        margin-top: 2em;

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }
}

@keyframes accessory-details-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes accessory-details-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
