.automations .main {
    .section {
        min-height: 0;
    }
}

.automations-list {
    .automation-row {
        background-color: $gray-600;
        border-bottom: 1px solid $gray-800;
        color: #ffffff;

        &:first-child {
            border-top: 1px solid $gray-800;
        }

        h3 {
            font-size: 1.2rem;
        }

        .automation-row-contents {
            padding: 0 1rem;
            font-size: 0.9rem;
        }
    }
}

.automation-settings {
    .settings-window {
        max-width: 626px;
    }
}

.automation-trigger,
.automation-condition {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;

    .automation-trigger-header,
    .automation-condition-header {
        display: flex;
        margin-bottom: 1rem;

        h4 {
            font-size: 1.1rem;
        }
    }

    & & {
        padding-left: 1rem;
        border-left: 1px solid #dee2e6;
    }
}
