.section,
.layout-section,
.service-container {
    margin: 1rem;
    min-height: 12em;
}

.layout-section {
    margin: 1rem 0 1rem 1rem;
}

.layout-section-header {
    display: flex;
    margin: 0 1rem 0 0;
    font-size: 0.8rem;

    color: $gray-400;

    .flex-fill {
        display: flex;
        flex-direction: column;

        &::before {
            content: '';
            flex: 1 1 auto;
        }

        > h4 {
            margin: 0;
            font-size: 1em;
        }
    }

    .layout-section-edit-button {
        opacity: 0;
        transition: opacity 0.2s ease;

        .layout-section:hover & {
            opacity: 0.6;
        }

        &:hover {
            opacity: 1 !important;
        }
    }
}

.layout-section-contents {
    .unknown-layout-section & {
        background-color: transparentize($warning, 0.9);
        border: 1px solid transparentize($warning, 0.6);

        @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
            background-color: transparentize($warning, 0.7);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }

        padding: 2rem;
        margin: 1rem 1rem 0 0;
        text-align: center;
        border-radius: 0.2rem;

        p {
            margin: 0;
        }
    }
}

.service-container {
    @extend .layout-section;

    .service-wrapper {
        display: inline-block;
        margin-left: 0;
        margin-bottom: 0;
    }

    .draggable {
        min-height: 6.8rem;
    }
}

.service-container-header {
    @extend .layout-section-header;
}

.service-container-contents {
    @extend .layout-section-contents;
}
