.scene-container {
    .draggable.remove-drop-target {
        position: relative;
        height: 7rem;
        width: 12rem;
        float: right;
        margin: 1rem;
        padding: 1rem;
        border-radius: 0.2rem;
        background-color: rgba(0, 0, 0, 0.2);
        color: #ffffff;
        -webkit-backdrop-filter: blur(20px);
        font-size: 13px;
        text-align: center;
        vertical-align: middle;
        transition: background-color 0.2s ease;

        &::before {
            content: 'Drag scenes here to remove them from this section without deleting them.';
            vertical-align: middle;
        }

        > * {
            display: none;
        }

        &:not(:empty) {
            background-color: transparentize($warning, 0.8);

            &::before {
                content: 'Drop scenes here to remove them from this section without deleting them.';
            }
        }
    }
}

.service-wrapper.scene {
    width: 14.6rem;
    height: 4rem;
}

.scene {
    .service-tile-contents {
        flex-direction: row;
    }

    .service-top,
    .service-info {
        height: 100%;
        display: flex;
        flex-direction: column;

        &::before,
        &::after {
            content: '';
            flex: 1 0 auto;
        }
    }

    .service-info {
        margin-left: 0.6rem;
    }

    .scene-activating-progress,
    .scene-deactivating-progress {
        position: relative;
        height: 0.8em;
        margin-top: -0.8em;
        border-radius: 0;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
    }
}
