.service-wrapper.scene {
    width: 14.6rem;
    height: 4rem;
}

.scene {
    .service-tile-contents {
        flex-direction: row;
    }

    .service-top,
    .service-info {
        height: 100%;
        display: flex;
        flex-direction: column;

        &::before,
        &::after {
            content: '';
            flex: 1 0 auto;
        }
    }

    .service-info {
        margin-left: 0.6rem;
    }

    .scene-activating-progress,
    .scene-deactivating-progress {
        position: relative;
        height: 0.8em;
        margin-top: -0.8em;
        border-radius: 0;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
    }
}
