.service-wrapper {
    width: 6.8rem;
    height: 6.8rem;

    margin: 1rem;

    vertical-align: top;
}

.service {
    width: 100%;
    height: 100%;

    .service-tile-background {
        width: 100%;
        height: 100%;
        margin-bottom: -100%;
        border-radius: 0.8em;
        background-position: center;
        background-size: cover;
    }

    .service-tile-contents {
        background-color: rgba(255, 255, 255, 0.9);

        @supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
            background-color: rgba(255, 255, 255, 0.5);
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
        }

        border-radius: 0.8em;

        width: 100%;
        height: 100%;

        padding: 0.9em;
        font-size: 0.8em;

        display: flex;
        flex-direction: column;
    }

    .service-top {
        height: 30px;
        flex: 0 0 auto;

        .service-icon,
        .icon {
            width: 30px;
        }
    }

    svg.icon {
        fill: rgba(0, 0, 0, 0.7);
    }

    img.icon {
        filter: brightness(0) opacity(0.7);
    }

    .service-info {
        flex: 0 0 auto;
    }

    h5 {
        font-size: 1em;
        font-weight: 600;
    }

    h5, p {
        margin: 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.unsupported-service,
    &.unavailable-accessory {
        .service-status {
            color: $red;
            font-weight: 600;
        }
    }

    &.active {
        .service-tile-contents {
            background-color: rgba(255, 255, 255, 0.9);
        }
        .service-tile-background + .service-tile-contents {
            background-color: rgba(255, 255, 255, 0.7);
        }

        svg.icon {
            fill: rgba(0, 0, 0, 1);
        }

        img.icon {
            filter: opacity(1);
        }
    }

    transition: opacity 0.1s ease;

    &.details-open {
        opacity: 0;
    }

    .service-wrapper-editing & {
        animation: shake 0.3s ease infinite;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(3deg);
    }
}

.add-accessory .settings-window {
    max-width: 550px;
}

.discovered-accessories {
    margin-right: -1rem;

    .discovered-accessory-wrapper {
        display: inline-block;
        // width: 6.8rem;
        width: 14.6rem;
        height: 6.8rem;

        margin: 0 1rem 1rem 0;

        vertical-align: top;
    }
}
