.settings-wrapper,
.settings-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: $modal-z-index;
}

.settings-overlay {
    position: fixed;
}

.settings-window-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: $modal-z-index;
}

.settings-window {
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
    background-color: $light;
    border: darken($light, 20%) 1px solid;
    border-top-width: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.show,
    &.v-enter-active {
        animation: panel-in 0.3s ease-in forwards;
    }

    &.v-leave-active {
        animation: panel-out 0.3s ease-out forwards;
    }

    .home-settings &,
    .accessory-settings & {
        max-width: 626px;
    }
}

.settings-container {
    padding: 2rem;
}

@keyframes panel-in {
    100% {
        margin-top: 0;
    }
}

@keyframes panel-out {
    0% {
        margin-top: 0;
    }
}
