.settings-wrapper,
.settings-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.settings-overlay {
    position: fixed;
}

.settings-window-wrapper {
    position: absolute;
    width: 100%;
}

.settings-window {
    width: 80%;
    max-width: 500px;
    margin: 0 auto auto;
    max-height: 80%;
    background-color: $light;
    border: darken($light, 20%) 1px solid;
    border-top-width: 0;
    overflow-y: auto;
}

.settings-container {
    padding: 2rem;
}
